.navbar-user{
    position: relative;
}
.sub_user{
    display: none;
    z-index: 2;
    position: absolute;
    background: white;
    width: 250px;
    top: 49px;
    left: 10px;
    box-shadow: 0 3px 8px rgba(3 ,3, 3,  .26);
    overflow: hidden;
}
.show-user{
    display: block;
}
